.board {
  display: grid;
  background: #1c1c1c;
  border: 3px solid #444;
}

.cell {
  border: 1px solid #333;
  position: relative;
  background: #101010;
}

.cell-number {
  position: absolute;
  top: 4px;
  left: 6px;
  font-size: 11px;
  color: #aaa;
}

.player-token {
  width: 18px;
  height: 18px;
  background: red;
  border-radius: 50%;
  position: absolute;
  bottom: 6px;
  right: 6px;
  transition: all 0.5s ease-in-out;
}
